html, body {
  height: 100%;
}

h1 {
  margin: 0;
}

main {
  background: url('../images/yard.png') no-repeat;
  width: 1024px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.cat-box {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: absolute;
}

#cat1 {
  top: 420px;
  left: 250px;
}

#cat2 {
  top: 230px;
  right: 290px;
}

#cat3 {
  top: 450px;
  right: 340px;
}

#cat4 {
  top: 150px;
  left: 150px;
}

#cat5 {
  top: 215px;
  right: 580px;
}
